Change block type number for aggregate custody signaling

BPLib currently uses block type 11 for custody signaling, but this conflicts with the block type number for Bundle Integrity Block as specified in RFC9172 section 11.1.

The BPv7 decode capabilities in current versions of Wireshark will misidentify the custody block as a BIB if this is not changed to something else.