Handle special "dtn:none" endpoint ID defined in RFC9171

**Is your feature request related to a problem? Please describe.**
The encode/decode routines currently only handle the "IPN" scheme.  Although there are no plans to support the "DTN" scheme, there is one special value - `dtn:none` - that should be recognized.

**Describe the solution you'd like**
Recognize and decode `dtn:none` as an endpoint ID - for example, this could be used as a "report to" ID to indicate that no reporting is requested for that bundle.

**Additional context**
This endpoint ID is specified in RFC 9171 section 4.2.5.1.1

**Requester Info**
Joseph Hickey, Vantage Systems, Inc.

